@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";


@theme {
  --font-sans: 'Bricolage Grotesque', sans-serif;

  --color-background: #030208;
  --color-primary: #06b6d4;
  --color-secondary: #6366f1;

  --color-cyber-300: #cbd5e1;
  --color-cyber-400: #94a3b8;
  --color-cyber-500: #64748b;
  --color-cyber-900: #0f172a;
}

@layer base {
  * {}

  body {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #030208;
    color: #cbd5e1;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  ::selection {
    background-color: color-mix(in srgb, var(--color-primary) 30%, transparent);
    color: white;
  }

  section {
    position: relative;
  }
}

@utility glass-panel {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@utility text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

@utility bg-glow-gradient {
  background-image: radial-gradient(circle at 50% 50%, rgba(99, 102, 241, 0.15) 0%, rgba(3, 2, 8, 1) 100%);
}



/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #030208;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}